# Build directories
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile

# compile_commands
compile_commands.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Neovim
*.swp
*.swo

# clangd
.cache/